body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    margin: 0;
    padding: 0;
    background: #1f293a;
}

.faq-container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-container h1 {
    text-align: center;
    color: #333;
}

.faq {
    margin-bottom: 10px;
}

.faq-question {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #cc1919e5;
    color: white;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #f06210;
}

.faq-answer {
    display: none;
    padding: 10px;
    border-left: 3px solid #f06210;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.faq-answer p {
    margin: 0;
    color: #555;
}
