@import url('https://fonts.googleapis.com/css?family=Tangerine');

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box ;
    font-family: sans-serif;
}
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #1f293a;

}

.container{

    position: relative;
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container span{
    position: absolute;
    left: 0;
    width: 10px;
    height: 3px;
    background: #cc1919e5;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i) *
    (360deg / 50)));
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i) * (3s / 50));
}
@keyframes animateBlink{
    0%{
        background: rgb(239, 244, 245);
    }
    25%{
        background: #8cf152;
    }
}


.Login-box{

    position: absolute;
    width: 400px;
    /* background: red; */
}
.Login-box form{
    width: 100%;
    padding: 0 50px;
}
h2{

    font-size: 1em;
    color: #ccc;
    text-align: center;
}
.input-box{

    position: relative;
    margin: 25px 0;
}

.input-box input{

    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #2c4766;
    outline: none;
    border-radius: 20px;
    font-size: 1em;
    color: #fff;
    padding: 0 20px;
    transition: .4s ease;
}
.input-box input:focus, 
input-box input:valid{
border-color: #cc1919e5;

}

.input-box label{

    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ccc;
    pointer-events: none;
    transition: .4s ease;
}
.input-box input:focus~label, 
input-box input:valid~label{

    top: 1px;
    font-size: .8em;
    background: #1f293a;
    padding: 0 6px;
    color: #fff;
}

.forgot-pass{
    margin: -15px 0 10px;
    text-align: center;
}
.forgot-pass a{
    font-size: .85em;
    color: #fff;
    text-decoration: none;
}
.forgot-pass a:hover{
    text-decoration: underline;
}
.cta-btn{
    width: 100%;
    height: 45px;
    background: #cc1919e5;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
}
.cta-btn:hover {
    background-color: #f06210;
}
.signup-link{
    margin: 20px 0 10px;
    text-align: center;
}
.signup-link a{
    font-size: 1em;
    color: #cc1919e5;
    text-decoration: none;
    font-weight: 600;
}
.signup-link a:hover{
    text-decoration: underline;
}


@media (max-width:930px) {
    .container{
        /* display: none; */
      width: 700px;
      align-items: center;
      justify-content: center;
        
    }
    .container span{
        display: none;
        
    }
    .Login-box{
        width: 100%;
        border-radius: 20px;
    }
    h2{
        font-size: 2em;
    }
}
/* @media (max-width:500px) {
    .w50{
        width: 100%;
        padding: 0;
    }
} */


